body {
	margin: 0;
}
video {
  width: 200px;
}

.wrapper {
  width: 200px;
  border: 2px solid #ddd;
  display: inline-box;
  float: left;
}

.wrapper div {
  text-align: center;
  background-color: #eee;
}

#chat {
  height: 100%;
  width: 250px;
  max-width: 250px;
  float: left;
}

#wait {
  font-weight: bold;
  margin: 10px;
}

.chatMsg {
  border-top: 1px solid #888;
  word-wrap: break-word;
}

.wrapper div a {
	cursor: pointer;
	margin-left: 10px;
	color: #888;
}
